
.bgleft {
    background-color: blue;
}


.mat-autocomplete-panel {
    max-height: 192px !important;
}

.mat-autocomplete-box {
    font-size: 8px;
    max-height: 92px !important;
    border: 1px solid #D3D3D3;
}
