<div class="pagecontainer">
  <div id="headermain" class="container-fluid bgheader">

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2 d-flex logotechview">
          <img src="./assets/logo.png" class="img-fluid">
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex justify-content-center">
            <h1 class="titleheader">A porta de entrar para sua jornada de gestão por métricas</h1>
          </div>
            <div class="row justify-content-center">
              <div class="col-4 col-md-3 col-lg-3 mt-2"><button class="buttonheader">Tutorial</button></div>
              <div class="col-4 col-md-3 col-lg-3 mt-2"><button class="buttonheader">Novidades</button></div>
              <div class="col-4 col-md-3 col-lg-3 mt-2"><button class="buttonheader">Feedback</button></div>
            </div>
        </div>      
      </div>
      <div class="logout">
        <a href="#" style="color:aliceblue">Sair</a>
      </div>
    </div>
  </div>


  <div id="filter" class="container-fluid filtermenu">
    <div class="container">
          <div class="row">
            <div class="col-lg-2 mb-2 mt-2 boxselect">Jornada análise
              <div class="row">
                <select class="form-control buttonfilter">
                <option>Direciona Tech</option>
                </select>
              </div>
            </div>

            <div class="col-lg-2 mb-2 mt-2 boxselect">Ordenação
              <div class="row">
                <select class="form-control buttonfilter">
                <option>Do pior para o melhor</option>
                </select>
              </div>
            </div>

            <div class="col-lg-2 mb-2 mt-2 boxselect">Ordenação
              <div class="row">
                <select class="form-control buttonfilter">
                <option>Do pior para o melhor</option>
                </select>
              </div>
            </div>

            <div class="col-lg-2 mb-2 mt-2 boxselect">Ordenação
              <div class="row">
                <select class="form-control buttonfilter">
                <option>Do pior para o melhor</option>
                </select>
              </div>
            </div>

          </div>

    </div>
  </div>

  
 
</div>